{% extends 'base.html.twig' %}

{% block body %}
    <section class="section bg-gray">
        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <!-- Left sidebar -->
                <div class="col-md-8">
                    <div class="product-details">


                        <!-- product slider -->
                        <div class="card">
                            <h1 class="product-title ml-4 mt-4">{{ product.title }}</h1>
                            <div class="product-meta ml-4">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="fa fa-folder-open-o"></i>
                                        Category
                                        {% if product.category.parent %}
                                            <a href="{{ path('view_product', {'id': product.category.parent.id}) }}">
                                                {{ product.category.parent }} /
                                            </a>
                                        {% endif %}
                                        <a href="{{ path('view_product', {'id': product.category.id}) }}">
                                            {{ product.category.name }}
                                        </a>

                                    </li>
                                </ul>
                            </div>

                            <div>
                                <div class="d-flex flex-column thumbnails">
                                    {% set hasActiveThumbnail = false %}
                                    {% for image in product.images %}
                                        <div id="f5{{ image.id }}"
                                             class="tb {% if hasActiveThumbnail == false %}tb-active {% set hasActiveThumbnail = true %} {% endif %}">
                                            <img
                                                    class="thumbnail-img fit-image"
                                                    src="{{ asset('uploads/' ~ image.name ) }}"></div>
                                    {% endfor %}
                                </div>
                                {% set hasActiveImage = false %}
                                {% for image in product.images %}
                                    <fieldset id="f5{{ image.id }}1"
                                              class="{% if hasActiveImage == false %} active {% set hasActiveImage = true %} {% endif %}">
                                        <div class="product-pic"><img class="pic0"
                                                                      src="{{ asset('uploads/' ~ image.name) }}">
                                        </div>
                                    </fieldset>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- product slider -->

                        <div class="content mt-5 pt-5">
                            <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                       role="tab" aria-controls="pills-home"
                                       aria-selected="true">Product Details</a>
                                </li>
                                {% if product.specifications %}
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill"
                                           href="#pills-profile"
                                           role="tab" aria-controls="pills-profile"
                                           aria-selected="false">Specifications</a>
                                    </li>
                                {% endif %}
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                     aria-labelledby="pills-home-tab">
                                    <h3 class="tab-title">Product Description</h3>
                                    <p>{{ product.description }}</p>


                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                     aria-labelledby="pills-profile-tab">
                                    <h3 class="tab-title">Product Specifications</h3>
                                    <table class="table table-bordered product-table">
                                        <tbody>
                                        {% for specification in product.specifications %}
                                            <tr>
                                                <td>{{ specification.name }}</td>
                                                <td>{{ specification.value }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                     aria-labelledby="pills-contact-tab">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sidebar">
                        <div class="widget price text-center">
                            <h4>Price</h4>
                            <p>{{ product.price|number_format(2) }} BGN</p>
                            <a href="{{ path('cart_add', {'id': product.id }) }}"
                               class="font-weight-bold btn btn-secondary">Add to cart</a>
                        </div>
                        <!-- Rate Widget -->
                        <div class="widget rate">
                            <!-- Heading -->
                            <h5 class="widget-header text-center">What would you rate
                                <br>
                                this product</h5>
                            <!-- Rate -->
                            <div class="starrr"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Container End -->
    </section>
{% endblock %}