{% extends 'admin_panel/base.html.twig' %}

{% block body %}
    <section class="content">

        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="col-12">

                            <div class="card">
                                <div class="d-flex flex-column thumbnails">
                                    <div id="f1" class="tb tb-active"><img class="thumbnail-img fit-image"
                                                                           src="https://i.imgur.com/wL1uRBk.jpg"></div>
                                    <div id="f2" class="tb"><img class="thumbnail-img fit-image"
                                                                 src="https://i.imgur.com/3NusNP2.jpg"></div>
                                    <div id="f3" class="tb"><img class="thumbnail-img fit-image"
                                                                 src="https://i.imgur.com/pXUPOVR.jpg"></div>
                                    <div id="f4" class="tb"><img class="thumbnail-img fit-image"
                                                                 src="https://i.imgur.com/xX5Qmsa.jpg"></div>
                                    <div id="f5" class="tb"><img class="thumbnail-img fit-image"
                                                                 src="{{ asset('uploads/' ~ product.image ) }}"></div>

                                </div>
                                <fieldset id="f11" class="active">
                                    <div class="product-pic"><img class="pic0" src="https://i.imgur.com/wL1uRBk.jpg">
                                    </div>
                                </fieldset>
                                <fieldset id="f21" class="">
                                    <div class="product-pic"><img class="pic0" src="https://i.imgur.com/3NusNP2.jpg">
                                    </div>
                                </fieldset>
                                <fieldset id="f31" class="">
                                    <div class="product-pic"><img class="pic0" src="https://i.imgur.com/pXUPOVR.jpg">
                                    </div>
                                </fieldset>
                                <fieldset id="f41" class="">
                                    <div class="product-pic"><img class="pic0" src="https://i.imgur.com/xX5Qmsa.jpg">
                                    </div>
                                </fieldset>
                                <fieldset id="f51" class="">
                                    <div class="product-pic"><img class="pic0" src="{{ asset('uploads/' ~ product.image) }}">
                                    </div>
                                </fieldset>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="float-right mt-3 mr-3">
                            <button type="button" class="btn btn-secondary" data-toggle="modal"
                                    data-target="#exampleModal">
                                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-gear-fill"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                                </svg>
                                Settings
                            </button>
                        </div>
                        <h3 class="my-3">{{ product.title }}
                            {% if product.promotion %}
                                <span class="badge badge-danger">promo</span>
                            {% endif %}
                        </h3>
                        <p>{{ product.description }}</p>
                        <hr>

                        <div class="bg-gray py-2 px-3 mt-4">
                            <h2 class="mb-0">
                                {% if product.promotion %}
                                    <del>Price: {{ product.price|number_format(2) }} BGN</del> <br/>
                                    <span class="text-danger font-weight-bold"> Price: {{ product.finalPrice|number_format(2) }} BGN (-{{ product.promotion.percentage }}<span
                                                class="small">%</span>)</span>
                                {% else %}
                                    Price: {{ product.finalPrice|number_format(2) }} BGN
                                {% endif %}
                            </h2>
                        </div>

                    </div>
                </div>
                <div class="row mt-4">
                    <nav class="w-100">
                        <div class="nav nav-tabs" id="product-tab" role="tablist">
                            <a class="nav-item nav-link" id="product-desc-tab" data-toggle="tab" href="#product-desc"
                               role="tab" aria-controls="product-desc" aria-selected="false">Description</a>
                            <a class="nav-item nav-link active" id="product-rating-tab" data-toggle="tab"
                               href="#product-rating" role="tab" aria-controls="product-rating" aria-selected="true">Features</a>
                        </div>
                    </nav>
                    <div class="tab-content p-3" id="nav-tabContent">
                        <div class="tab-pane fade" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">
                            {{ product.description }}
                        </div>
                        <div class="tab-pane fade active show" id="product-rating" role="tabpanel"
                             aria-labelledby="product-rating-tab"> TODO
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Product Settings</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="#">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                        <path fill-rule="evenodd"
                                              d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                                    </svg>
                                    Edit content
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-images"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M12.002 4h-10a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1zm-10-1a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-10z"/>
                                        <path d="M10.648 8.646a.5.5 0 0 1 .577-.093l1.777 1.947V14h-12v-1l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71z"/>
                                        <path fill-rule="evenodd"
                                              d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM4 2h10a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1v1a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2h1a1 1 0 0 1 1-1z"/>
                                    </svg>
                                    Upload/Delete images
                                </a>
                            </li>
                            <li class="list-group-item"><a href="#">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-layers"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M3.188 8L.264 9.559a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882L12.813 8l-1.063.567L14.438 10 8 13.433 1.562 10 4.25 8.567 3.187 8z"/>
                                        <path fill-rule="evenodd"
                                              d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4zM1.563 6L8 9.433 14.438 6 8 2.567 1.562 6z"/>
                                    </svg>
                                    Create specifications</a>
                            </li>
                            <li class="list-group-item"><a href="#">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tag-fill"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                    </svg>
                                    Create promotion</a>
                            </li>
                            <li class="list-group-item">
                                {% if product.promotion == false %}
                                    <a href="#">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tag-fill"
                                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                        </svg>
                                        Turn on fast promotion <span class="text-danger">(20%)</span></a>
                                {% else %}
                                    <a href="#">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tag-fill"
                                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                        </svg>
                                        Turn OFF promotion</a>
                                {% endif %}
                            </li>
                            <li class="list-group-item">
                                <a href="#">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-binoculars-fill"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4.5 1A1.5 1.5 0 0 0 3 2.5V3h4v-.5A1.5 1.5 0 0 0 5.5 1h-1zM7 4v1h2V4h4v.882a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V13H9v-1.5a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5V13H1V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V4h4zM1 14v.5A1.5 1.5 0 0 0 2.5 16h3A1.5 1.5 0 0 0 7 14.5V14H1zm8 0v.5a1.5 1.5 0 0 0 1.5 1.5h3a1.5 1.5 0 0 0 1.5-1.5V14H9zm4-11H9v-.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5V3z"/>
                                    </svg>
                                    {% if product.isPublic %}
                                        <a href="#">Don't show this product</a> (Product is public)
                                    {% else %}
                                        This product is hidden from users.
                                        <a href="#">Make it public</a>
                                    {% endif %}
                                </a>
                            </li>
                            <li class="list-group-item"><a href="#" class="text-danger">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                    </svg>
                                    Delete</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}